
html{
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    overflow: -moz-scrollbars-none; 
    -ms-overflow-style: none;
    scroll-behavior: smooth;
}

html.noScroll::-webkit-scrollbar { width: 0 !important }

.home-comp .section{
  scroll-snap-align: start;
}

.section{
    /* font-family:  'Fira Code', monospace; */
    font-size: 1.1rem;
    line-height: 2rem;
}



.primary-banner, .top-menu{
    font-family:  'Michroma', sans-serif;
}


#hero-banner h2 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid white; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  #hero-banner .banner-sub-text{
    margin: auto;
    width: fit-content;
    block-size: fit-content;
  }
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
  }


.ct-btn-scroll{
  width: 124px;
  height: 124px;
  position: absolute;
  bottom: 124px;
  left: 0;
  right: 0;
  margin: auto;
  padding-top: 500px;
  z-index: 9;
  border-radius: 50%;
  -webkit-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
  text-decoration: none;
}

.ct-btn-scroll .favicon-icon{
  color: #ffffff;
  font-size: 44px;
  margin: auto;
  display: block;
  text-align: center;
  text-decoration: none;
}

.floating {  
  animation-name: floating;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 15px); }
  100%   { transform: translate(0, -0px); }    
}

@media (max-width: 767.98px) { 

  .ct-btn-scroll .favicon-icon{
    font-size: 36px;
  }

}


@media (max-width: 400px) {
  
  .ct-btn-scroll .favicon-icon{
    font-size: 32px;
  }

 }