.top-nav-bar{
    background: aliceblue;
    display: block;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 999;
}




.portfolio-comp .bar {
    background-color: #1c1d1d;
 }


.section{
    /* font-family:  'Fira Code', monospace; */
    font-size: 1.1rem;
    line-height: 2rem;
}

#secondary-banner{
    text-align: center;
    height: 254px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1c1d1d;
    padding-top: 100px;
}

main{
    background: aliceblue;
}


#portfolio-list{
    margin-bottom: 48px;
}

#portfolio-list > .container > .row > div{
    margin: auto;
}

#portfolio-list > .container > .row > div#my-other-works-header {
    margin-top: 98px;
    text-align: center;
}
#portfolio-list > .container > .row > div#my-other-works-header > div{
    margin-top: 24px;
    margin-bottom: 24px;
}

.portfolio-description{
    padding-top: 60px;
    padding-bottom: 60px;
    max-width: 900px;
    margin: auto;
    width: 100%;
}
.portfolio-description a{
    text-decoration: none;
    font-weight: bold;
    color: #2591d3;
    display: block;
    padding-bottom: 12px;
}

.portfolio-description a:hover{
    text-decoration: underline;
}




  .carousel-inner {
    width: 80%;
    margin: auto;
}



.portfolio-comp .carousel-indicators{
    display: none;
}



@media (max-width: 575.98px) { 
    .carousel-inner {
        width: 88%;
    }
    .carousel-control-prev {
        left: -12px;
    }
    .carousel-control-next {
        right: -12px;
    }

    .portfolio-description {
        font-size: 1rem;
    }
}